In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2020-02-17 21:15:24,-23.12,-134.97,78.78,79,100,13.71
1,1,Yellowknife,CA,2020-02-17 21:12:44,62.46,-114.35,-13.00,61,5,10.29
2,2,Calamar,CO,2020-02-17 21:15:24,10.25,-74.91,89.60,59,90,14.99
3,3,Katsuura,JP,2020-02-17 21:15:24,35.13,140.30,44.01,65,20,5.82
4,4,Korla,CN,2020-02-17 21:15:25,41.76,86.15,26.01,88,72,3.67

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2020-02-17 21:15:24,-23.12,-134.97,78.78,79,100,13.71
2,2,Calamar,CO,2020-02-17 21:15:24,10.25,-74.91,89.60,59,90,14.99
7,7,Chuy,UY,2020-02-17 21:15:25,-33.70,-53.46,82.08,66,100,9.64
11,11,Carnarvon,AU,2020-02-17 21:10:27,-24.87,113.63,77.00,88,31,9.17
13,13,Pout,SN,2020-02-17 21:15:27,14.77,-17.06,82.40,42,97,11.41
14,14,Vaini,TO,2020-02-17 21:13:43,-21.20,-175.20,78.80,78,20,13.87
19,19,Hays,US,2020-02-17 21:15:29,30.05,-98.03,81.00,69,90,9.17
20,20,Pontes E Lacerda,BR,2020-02-17 21:15:29,-15.23,-59.34,88.81,67,100,2.64
22,22,Mackay,AU,2020-02-17 21:15:29,-21.15,149.20,79.00,94,40,6.93
28,28,Kapaa,US,2020-02-17 21:15:31,22.08,-159.32,75.20,69,90,3.36

In [19]:
preferred_cities_df.count()

City_ID       176
City          176
Country       175
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [117]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

                   City Country  Max Temp    Lat     Lng Hotel Name
0               Rikitea      PF     78.78 -23.12 -134.97
2               Calamar      CO     89.60  10.25  -74.91
7                  Chuy      UY     82.08 -33.70  -53.46
11            Carnarvon      AU     77.00 -24.87  113.63
13                 Pout      SN     82.40  14.77  -17.06
..                  ...     ...       ...    ...     ...        ...
533  Sao Felix Do Xingu      BR     80.56  -6.64  -51.99
538         Grand-Lahou      CI     82.42   5.14   -5.02
539            Manadhoo      MV     81.36   5.77   73.38
542        Saint-Pierre      RE     77.00 -21.34   55.48
543               Lucea      JM     84.99  18.45  -78.17

[176 rows x 6 columns]

In [42]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [135]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [137]:
hotel_df = hotel_df
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,78.78,-23.12,-134.97,Pension Maro'i
2,Calamar,CO,89.60,10.25,-74.91,Canal del dique y rio magdalena
7,Chuy,UY,82.08,-33.70,-53.46,Nuevo Hotel Plaza
11,Carnarvon,AU,77.00,-24.87,113.63,Hospitality Carnarvon
13,Pout,SN,82.40,14.77,-17.06,chez sada niang
...,...,...,...,...,...,...
533,Sao Felix Do Xingu,BR,80.56,-6.64,-51.99,Apart Hotel Rio Xingu
538,Grand-Lahou,CI,82.42,5.14,-5.02,Hotel Beatitude de Grand Lahou
539,Manadhoo,MV,81.36,5.77,73.38,Reason Inn
542,Saint-Pierre,RE,77.00,-21.34,55.48,Lindsey Hôtel
543,Lucea,JM,84.99,18.45,-78.17,Grand Palladium Jamaica Resort & Spa

In [138]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [139]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [140]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [141]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [142]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))